
/*!*nav styling*!*/
.navbar-brand {
    font-size: 3rem;
    text-align: center;
    color: #ffb701;
    padding: 40px;
    margin: 0;
    font-family: inherit;
    z-index: 1;
    position: relative;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 25px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


.navbar-nav {
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-item {
    line-height: 80px;
    color: #ffb701;
    padding: 12px 30px;
    text-transform: uppercase;
}

.navbar-toggler-icon {
    color: white;
    padding-right: 25px;
}


/*media sizing */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*!* Small devices (tablets, 768px and up) *!*/
/*@media (min-width: @screen-sm-min) {*/

/*}*/

/*!* Medium devices (desktops, 992px and up) *!*/
/*@media (min-width: @screen-md-min) { }*/

/*!* Large devices (large desktops, 1200px and up) *!*/
/*@media (min-width: @screen-lg-min) {  }*/



