.topbanner {
	background: url("../images/guitar-top-banner.jpg") no-repeat bottom;
	width: 100%;
	height: 100%;
	height: 500px;
	background-size: cover;
	opacity: revert;
	padding-top: 100px;
}

.topbanner h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
	color: #ffffff;
	padding-top: 67px;
}

.article-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
	max-width: 420px;
}

.cursive {
	color: #ffb701;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 6px;
	font-family: 'Great Vibes', cursive;
}

#growbusiness {
	padding-top: 100px;
	padding-bottom: 100px;
}

#growbusiness img {
	width: 80%;
}

#growbusiness h1 {
	font-size: 22px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	line-height: 30px;
	color: #454867;
}

#read-article {
	margin-top: 95px;
}

.articlelink {
	background-color: #ffb701;
	border-radius: 0;
	color: #3E2C1F !important;
	font-size: 22px;
	padding: 12px 40px 12px 40px;
	border: 4px solid #ffb701;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.articlelink a {
	color: #3E2C1F !important;
}

.articlelink:hover,
.articlelink:focus,
.articlelink:active {
	background-color: #ffffff;
	border: 4px solid #ffb701;
	color: #ffb701;
	font-size: 22px;
	text-decoration: none !important;
}

#growbusiness a:hover {
	text-decoration: none !important;
}

#morecustomers {
	background-color: #F7F5F7;
	padding-top: 50px;
	padding-bottom: 20px;
}

#morecustomers h3 {
	color: #454867;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	padding-bottom: 30px;
}

#morecustomers h2 {
	color: #454867;
	font-size: 22px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
}

#morecustomers p {
	color: #454867;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 50px;
}

.growsales {
	background: url("../images/gutiar-shop-banner.jpeg") no-repeat center;
	width: 100%;
	height: 100%;
	height: 420px;
	background-position: center center;
	background-size: cover;

}

.growsales p {
	float: right;
	color: #fff8a5;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 0;
	position: relative;
	left: -80px;
	top: 150px;
	width: auto;
	padding-left: 100px;
	padding-right: 10px;

}

.testimonials {
	background: url("../images/guitar-testimonials-background.jpeg") no-repeat center;
	width: 100%;
	height: 100%;
	height: auto;
	background-size: cover;
	margin-top: -10px;
}

.testimonials h4 {
	color: #454867;
	font-size: 35px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 60px;
	font-weight: bold;
	padding-bottom: 20px;
}

.testimonials p {
	color: #383838;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 15px;
}

.client-review {
	color: #344045 !important;
	font-weight: bold;
	padding-left: 10px;
	letter-spacing: 1px;
	margin-top: -10px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 60px;
}

.testimonials img {
	width: 30%;
}



.request-quote {
	background-color: #FAF8FA;
	padding-left: 24px;
	padding-right: 24px;
}

.request-quote h4 {
	text-align: center;
	padding-top: 28px;
	color: #454867;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 0;
	font-family: 'Montserrat', sans-serif;
}

.social-links {
	background-color: #ededed;
	margin-top: -30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.exclusive-group {
	padding-left: 10px;
	padding-right: 10px;
}


#portfolio-heading {
	font-size: 25px;
	padding: 25px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}
/*social media links*/

.stretch-card{
	width: 100% !important;
}


.fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

/*footer form */
#orders{
	padding-inline-end: inherit;
	padding-inline-start: inherit;
}
/*footer links */

#links{

	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 21px;
}

.page-footer{
	background: #5e5e5e;
	padding-top: 100px;
}








/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
	.topbanner {
		height: 500px;
	}
	.topbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 40px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 55px;
		padding-top: 20px;
	}
	.cursive {
		color: #ffb701;
		font-weight: bold;
		font-size: 50px;
		letter-spacing: 5px;
		font-family: 'Great Vibes', cursive;
	}
	#read-article {
		margin-top: 30px;
	}
	.articlelink {
		padding: 12px 30px 12px 30px;
	}
	.testimonials img {
		width: 45% !important;
	}
	.portfolio img {
		padding-top: 40px;
	}

	.client2 {
		padding-top: 80px;
	}
	.growsales p {
		color: #ffb701;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		position: relative;
		left: 0px;
		top: 50px;
		width: auto;
	}
}


@media only screen and (min-width: 480px) and (max-width: 1024px) {
	.topbanner {
		height: 450px;
	}
	.topbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 45px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 65px;
		padding-top: 20px;
	}
	.cursive {
		color: #ffb701;
		font-weight: bold;
		font-size: 65px;
		letter-spacing: 5px;
		font-family: 'Great Vibes', cursive;
	}
	#read-article {
		margin-top: 30px;
	}
	.testimonials img {
		max-width: 25%;
	}
	.growsales p {
		color: #ffb701;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		position: relative;
		left: 0;
		top: 50px;
		width: auto;
	}
}

/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
	.topbanner h1 {
		padding-top: 0px;
	}
	#read-article {
		margin-top: 70px;
	}
	.growsales p {
		color: #ffb701;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		left: 20;
		top: 80px;
		width:auto;
	}
}


@media only screen and (min-width: 480px) and (max-width :767px) {
	.portfolio img {
		padding-top: 40px;
		width: 70% !important;
	}
}